#calculator {
    width: 280px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
}

#display {
    width: 260px;
    margin: 0 auto;
    font-size: 20px;
    text-align: right;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#display.large {
    width: 380px;
    margin: 0 auto;
    font-size: 20px;
    text-align: right;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#calculator.large {
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
}

.button {
    width: 50px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.hiddenButton {
    display: none;
    width: 50px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.hiddenButton.visible {
    display: inline;
    width: 50px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}